<div class="main">
  <h1>TODOリスト</h1>
  
  <form action="/tasks" method="post">
    <input type="text" name="title" required>
    <button type="submit" class="add-btn">追加</button>
  </form>
  
  <ol>
    <% @tasks.each do |task| %>
    <li>
      <%= task.title %>
      <span><%= link_to("✖︎", "/tasks/#{task.id}", method: :delete) %></span>
    </li>
    <% end %>
  </ol>
</div>