<div>
  <h1>TODOリスト</h1>
  
  <form action="/tasks" method="post">
    <input type="text" name="title" required>
    <button type="submit">追加</button>
  </form>
  
  <ul>
    <% @tasks.each do |task| %>
    <li>
      <%= task.title %>
      <%= link_to("✖︎", "/tasks/#{task.id}", method: :delete) %>
    </li>
    <% end %>
  </ul>
</div>